<!DOCTYPE html>
<html ng-app="telepati">
<head lang="en">
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name=
  "viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Telepati</title>
  <link href="/static/css/lib/font-awesome/font-awesome.min.css" rel=
  "stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
  <style type="text/css">
  body {
        overflow: hidden;
      }
        .with-side-menu .page-content {
            padding-left: 0px;
            }
            .messenger .chat-area-in {
                margin-left: 0px;
                border-left: solid 1px #d8e2e7;
                margin-right: 300px;
            }
            .site-header .site-header-content {
            float: right;
            height: 40px;
            padding: 5px 0;
            width: 60%;
            /* margin-left: -210px; */
        }

  </style>
</head>
<body class="with-side-menu"  ng-controller="AppController as vm" ng-init="vm.init()">
  <header class="site-header">
    <div class="container-fluid">
      <!-- <a class="site-logo" href="chat-index.html#"><span style=
      "font-size:25px;color:#1151c6;">Telepati</span></a>  -->
      <div class="site-header-content">
        <div class="site-header-content-in">
          <div class="site-header-shown">
            <button class="btn btn-inline btn-primary" data-target="#myModal"
            data-toggle="modal" type="button">Edit Profile</button>
            <button class="btn btn-inline btn-primary" data-target="#myModal2"
            data-toggle="modal" type="button">Generate/Edit Keys</button>
          </div>
          <div class="mobile-menu-right-overlay"></div>
        </div>
      </div>
    </div>
  </header>
  <div class="mobile-menu-left-overlay"></div>
  <div class="page-content">
    <div class="container-fluid" ng-class="{messenger: vm.showChatWindow}">
      <div class="box-typical chat-container">
        <section class="chat-list">
          <div class="chat-list-search">
            <input class="form-control form-control-rounded" placeholder=
            "Search" type="text" ng-model="vm.filterUser">
          </div>
          <div class="chat-list-in scrollable-block">
            <div class="chat-list-item" ng-repeat="user in vm.users|filter:vm.filterUser"
              style="cursor:pointer" ng-click="vm.loadUserChat($index)"> <!-- selected -->
              <div class="chat-list-item-photo"><img alt="" src=
              "/static/img/avatar-1-32.png"></div>
              <div class="chat-list-item-header">
                <div class="chat-list-item-name">
                  <span class="name">{{user.name}}</span>
                </div>
                <div class="chat-list-item-date">
                  
                </div>
              </div>
              <div class="chat-list-item-cont">
                <div class="chat-list-item-txt">
                  {{user.lasttimestamp}}
                </div>
                <div class="chat-list-item-count">
                  
                </div>
              </div> 
            </div>
          </div>
        </section>
        <section class="chat-area">
          <div class="chat-area-in" ng-show="!vm.showChatWindow">
            <div class="chat-area-header">
              <div class="clean">
                Conversation with the user
              </div>
            </div>
            <div class="chat-dialog-area">
              <div class="chat-dialog-clean">
                <div class="chat-dialog-clean-in">
                  <i class="font-icon font-icon-mail-2"></i>
                  <div class="caption">
                    Select a friend
                  </div>
                  <div class="txt">
                    To start a conversation, select a friend on the left in the
                    list or use search box.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-area-in" ng-show="vm.showChatWindow">
            <div class="chat-area-header">
              <div class="chat-list-item online">
                <div class="chat-list-item-name">
                  <span class="name">{{vm.user.name}}</span>
                </div>
                <div class="chat-list-item-txt writing">
                  Last seen {{vm.user.lasttimestamp}}
                </div>
              </div>
            </div>
            <div class="chat-dialog-area scrollable-block">
              <div class="messenger-dialog-area">
                <div class="messenger-message-container" ng-repeat="message in vm.chats"
                  ng-class="{'from bg-blue': message.sendername==vm.profile}" style="width: 100%;">
                  
                  <div class="avatar" ng-show="message.sendername!=vm.profile">
                    <img src="/static/img/avatar-1-32.png"></div>
                  <div class="messages">
                    <ul>
                      <li>
                        <div class="time-ago" ng-show="message.sendername==vm.profile">
                          00:00
                        </div>
                        <div class="message">
                          <div>
                            {{message.messagedata}}
                          </div>
                        </div>
                        <div class="time-ago" ng-show="message.sendername!=vm.profile">
                          00:00
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="avatar chat-list-item-photo" ng-show="message.sendername==vm.profile">
                    <img src="/static/img/avatar-1-32.png" style="padding-left: 0px"></div>
                </div>
              </div>
            </div>
            <div class="chat-area-bottom">
              <form class="write-message" ng-submit="vm.sendChatMessage()">
                <div class="form-group">
                  <input class="form-control" placeholder="Type a message" type=
                  "text" ng-model="vm.newMessage">
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade in"
  id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="modal-close" data-dismiss="modal"
          type="button"><i class="font-icon-close-2"></i></button>
          <h4 class="modal-title" id="myModalLabel">Edit Profile Name</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <div class="input-group-addon">Name</div>
            <input class="form-control" ype="text" ng-model="vm.profile">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-rounded btn-default" data-dismiss="modal"
          type="button">Close</button> <button class=
          "btn btn-rounded btn-primary" type="button" ng-click="vm.setProfile()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade in"
  id="myModal2" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="modal-close" data-dismiss="modal"
          type="button"><i class="font-icon-close-2"></i></button>
          <h4 class="modal-title" id="myModalLabel">Edit Profile Keys</h4>
        </div>
        <div class="modal-body">
          <button class="btn btn-inline btn-primary" type="button">Generate Keys</button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-rounded btn-default" data-dismiss="modal"
          type="button">Close</button> <button class=
          "btn btn-rounded btn-primary" type="button">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <script src="/static/js/lib/jquery/jquery.min.js"></script> 
  <script src="/static/js/lib/tether/tether.min.js"></script> 
  <script src="/static/js/lib/bootstrap/bootstrap.min.js"></script> 
  <script src="/static/js/plugins.js"></script> 
  <script src="/static/js/app.js"></script> 
  <script src="/static/bower_components/angular/angular.min.js"></script> 
  <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
  <script>
    $(function() {
        $('.chat-settings .change-bg-color label').on('click', function() {
            var color = $(this).data('color');

            $('.messenger-message-container.from').each(function() {
                $(this).removeClass(function (index, css) {
                    return (css.match (/(^|\s)bg-\S+/g) || []).join(' ');
                });

                $(this).addClass('bg-' + color);
            });
        });
    });
  </script>

  <script src="/static/scripts/app.js"></script> 
  <script src="/static/scripts/service.js"></script> 
  <script src="/static/scripts/controller.js"></script> 
</body>
</html>