
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Telepati - Setup</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <link rel="stylesheet" href="/static/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box">
                    <div class="sign-avatar no-photo">&plus;</div>
                    <header class="sign-title">Telepati Setup</header>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Profile Name"/>
                    </div>
                    <button type="submit" class="btn btn-rounded btn-success sign-up">Setup</button>
                </form>
            </div>
        </div>
    </div><!--.page-center-->

<script src="/static/js/lib/jquery/jquery.min.js"></script>
<script src="/static/js/lib/tether/tether.min.js"></script>
<script src="/static/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>